@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: "oklch(71.5% 0.143 215.221)";
	--color-primary-dark: "oklch(55% 0.143 215.221)";
	--color-primary-light: "oklch(88% 0.08 215.221)";
	--color-base: "oklch(18% 0.02 260)";
	--color-surface: "oklch(22% 0.015 260)";
	--color-text-main: "oklch(95% 0.01 260)";
	--color-text-soft: "oklch(87.2% 0.01 258.338)";
	--color-ice: "oklch(92% 0.05 230)";
}

html {
  scroll-behavior: smooth;
}